@charset "UTF-8";
@import "reset.css";

html, body {
    font-family: sans-serif;
    line-height: 160%;
    font-size: 16px;
    text-align: center;
}

a, a:visited {
   color: #0d64ad; 
}

header {
    padding: 12px 0;
    background-color: #0d64ad;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 1.0em;
    position: relative;
}

header a {
    text-decoration: none;
    color: #fff !important;
}

p {
    margin: .5em 0;
}

.nav-btn {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 20px;
    height: 20px;
    display: block;
    text-indent: 100%;
    overflow: hidden;
    cursor: pointer;
}

.nav-btn::after {
    position: absolute;
    display: block;
    box-shadow: 0 0px 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
    height: 0;
    width: 1.1em;
    content: " ";
    top: 1px;
    left: 1px;
}

.nav-btn:hover::after {
    box-shadow: 0 0px 0 1px #ddd, 0 7px 0 1px #ddd, 0 14px 0 1px #ddd;
}

#content {
    max-width: 94%;
    margin: 0 auto;
}

#content section {
    padding: 2em 0;
    border-bottom: 1px solid #ddd;
}

#content section:last-child {
    border: none;
}

h1 {
    font-weight: 400;
    font-size: 1.4em;
    color: #0d64ad;
    margin: 0 0 .5em 0;
    text-align: center;
}

.bulleted-list {
    list-style: disc;
    margin: 1em 0 1em 20px;
}

.bulleted-list li {
    margin: .5em;
}

.download-btn {
    padding: .4em .6em;
    margin: .3em;
    background: #eee;
    color: #000;
    cursor: pointer;
    font-size: 1.1em;
}

.download-btn::before {
    font-family: FontAwesome;
    content: "\f0c6";
    margin-right: .3em;
}

footer {
    margin-top: 2em;
    text-align: center;
    font-size: .9em;
    color: #666;
}